<div
  id="chat"
  class="max-w-[300px] fixed right-2 bottom-2 p-0 bg-white border border-gray-100 rounded-lg shadow-lg"
>
  <div id="chat_icon" class="flex items-center justify-center">
    <button
      id="chat_open"
      class="w-[50px] h-[50px] flex items-center text-center p-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="text-rose-600"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z"
        />
      </svg>
    </button>
  </div>

  <div id="chat_welcome" class="hidden">
    <div
      class="text-white bg-gradient-to-br from-purple-600 to-blue-500 font-medium text-sm px-5 py-2.5 text-center rounded-t-lg"
    >
      <p class="text-xl">Let's Chat</p>
    </div>

    <div class="py-3 px-5">
      <div>
        <p class="text-gray-800 text-md font-medium">We'd love to get to know you</p>
        <p class="text-gray-500 text-xs font-light mt-1">Please share your name before we begin chatting! 😊</p>
      </div>

      <div class="relative mt-3 mb-4">
        <input type="text" id="chat_name" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
        <label for="chat_name" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">your name</label>
    </div>

      <button
        id="chat_join"
        type="button"
        class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      >
        Join Chat
      </button>
      
    </div>
  </div>

  <div id="chat_room" class="hidden">
    <!-- <div id="chat_log" class="w-full mb-4 p-4 rounded-md h-[300px] overflow-scroll bg-rose-400"> -->
    <div
      id="chat_log"
      class="w-full mb-4 p-4 rounded-md h-[300px] overflow-auto bg-gray-100"
    >
      <p class="text-sm text-gray-700">
        Welcome to our chat! Please type your message and wait for an agent to
        join...
      </p>
    </div>

    <input
      type="text"
      name="body"
      id="chat_message_input"
      class="w-full mb-4 p-4 bg-gray-100 rounded-md"
      placeholder="type your message here..."
    />

    <button
      id="chat_message_submit"
      class="py-2 px-6 bg-rose-600 text-white rounded-md"
    >
      Send
    </button>
  </div>
</div>
