<div
  id="chat"
  class="max-w-[300px] fixed right-2 bottom-2 p-2 bg-white border border-gray-100 rounded-md shadow-lg"
>
  <div id="chat_icon" class="flex items-center justify-center">
    <button
      id="chat_open"
      class="w-[50px] h-[50px] flex items-center text-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="text-rose-600"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z"
        />
      </svg>
    </button>
  </div>

  <div id="chat_welcome" class="hidden">
    <input
      type="text"
      name="name"
      id="chat_name"
      class="w-full mb-4 py-2 px-6 rounded-lg bg-gray-100"
      placeholder="your name..."
    />

    <button id="chat_join" class="py-2 px-6 rounded-md text-white bg-rose-600">
      Join Chat
    </button>
  </div>

  <div id="chat_room" class="hidden">
    <!-- <div id="chat_log" class="w-full mb-4 p-4 rounded-md h-[300px] overflow-scroll bg-rose-400"> -->
    <div id="chat_log" class="w-full mb-4 p-4 rounded-md h-[300px] overflow-auto bg-gray-100">
      <p class="text-sm text-gray-700">
        Welcome to our chat! Please type your message and wait for an agent to
        join...
      </p>
    </div>

    <input
      type="text"
      name="body"
      id="chat_message_input"
      class="w-full mb-4 p-4 bg-gray-100 rounded-md"
      placeholder="type your message here..."
    />

    <button
      id="chat_message_submit"
      class="py-2 px-6 bg-rose-600 text-white rounded-md"
    >
      Send
    </button>
  </div>
</div>
